.header {
    margin-top: 20px;
    margin-left: 40px;
}
.header img {
    float: left;
    margin-right: 20px;
}
.header h3 {
    color: #969594;
}

.item {
    width: 40px;
    float: left;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 5px;
    -moz-border-radius: 2px 2px 2px 2px;
    cursor: pointer;
}
.item.selectedItem {
    box-shadow: 0 0 5px 1px #0099ff;
}


.item-line-1-block {
    float: left;
    width: 82px;
}

.item-line-1-block.c {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}

.item-line-1-block>a {
    display: block;
    clear: left;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
}

.item-line-1-block .child {
    margin-top: -15px;
}

.item-line-1-block.r>a{
    clear: none;
}
.item-line-1-block.r .parend {
    margin-left: 25px;
}

.post {
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    background: #222222;
    border-bottom: 1px solid #205791;
}
.post img {
    float: left;
    margin-right: 10px;
}
.post.q1 {color: #adadad}
.post.q2 {color: #f1f1f1}
.post.q3 {color: #69e15e}
.post.q4 {color: #4ccfff}
.post.q5 {color: #ffc103}
.post.q6 {color: #ff8033}

.modal {
    position: absolute;
    padding: 35px 40px;

    background-color: #FFFFFF;
    border-color: #ACACAC #ACACAC #999999;
    border-style: solid;
    border-width: 1px;

    /* Chrome */
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px 0px;
    box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px 0px;

    /* FireFox */
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

    /* Opera */
    box-shadow: 0px 4px 16px;

    /* IE */
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);

    outline: 0 none;
    z-index: 1101;
}
.modal .buttons-panel {
    text-align: center;
    clear: both;
}

#sp {
    opacity: 0.75;
    width: 100%;
    height: 100%;
    position: fixed;
    color: #fff;
    background: #fff;
    z-index: 1000;
    overflow: hidden;
    top: 0;
    left: 0;
}

#add-items {
    position: absolute;
    left: -150px;
    margin-top: 35px;
    z-index: 1;

    padding: 20px 30px;

    background-color: #FFFFFF;
    border-color: #ACACAC #ACACAC #999999;
    border-style: solid;
    border-width: 1px;

    /* Chrome */
    -webkit-box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px 0px;
    box-shadow: rgba(0, 0, 0, 0.199219) 0px 4px 16px 0px;

    /* FireFox */
    -moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);

    /* Opera */
    box-shadow: 0px 4px 16px;

    /* IE */
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
}
#add-items.active {
    left: 380px;
}
#add-items .close {
    float: right;
}

button.close {
    float: right;
    margin-top: -15px;
    margin-right: -20px;
}

#add-items .close button, button.close {
    border: none;
    background: url(/images/closeButtons.png) left top no-repeat;
    width: 14px;
    height: 14px;
    cursor: pointer;
}
#add-items .close button:hover, button.close:hover {
    background-position: -28px;
}

#posts  { height:400px; overflow-y: auto; }

.content {
    position: relative;
    z-index: 10;
}

.compare {}
.compare .block {margin-bottom: 20px;}
.compare .type span {float: right;}
.compare .skill {
    float: left;
    width: 150px;
}
/* меньше */
.compare .skill.m span {
    color: red;
}
/* больше */
.compare .skill.b span {
    color: #adff2f;
}

.compare .stoun {
    float: left;
    width: 150px;
    height: 40px;
    background: url(/images/manastonesocket.png) top left no-repeat;
}
.compare .complect-item {
    margin-left: 20px;
}
.compare h3 span {
    display: block;
    margin-top: 5px;
}
.compare h3 span i {
    width: 35px;
    display: inline-block;
    text-align: center;
}
.compare .up {
    background: url(/images/up.png) top left no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    white-space:nowrap;
}
.compare .down {
    background: url(/images/down.png) top left no-repeat;
    width: 16px;
    height: 16px;
    cursor: pointer;
    border: none;
    white-space:nowrap;
}

#container {
    z-index: 1;
}

.gp-button {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
    background-image: -webkit-gradient(linear, 0% 40%, 0% 70%, from(rgb(245, 245, 245)), to(rgb(241, 241, 241)));
    background-origin: padding-box;
    border-collapse: collapse;

    border: #444 solid 1px;
    border-radius: 2px;

    -moz-border-radius: 2px 2px 2px 2px;
    background: -moz-linear-gradient(center top , #F5F5F5, #F1F1F1) repeat scroll 0 0 transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);

    -o-transition-delay: 0, 0, 0, 0;
    -o-transition-duration: 0.22s, 0.22s, 0.22s, 0.22s;
    -o-transition-property: border-top-color, border-right-color, border-bottom-color, border-left-color;
    -o-transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1), cubic-bezier(0.25, 0.1, 0.25, 1), cubic-bezier(0.25, 0.1, 0.25, 1), cubic-bezier(0.25, 0.1, 0.25, 1);
    background-image: -o-linear-gradient(top, rgb(245, 245, 245) 40%, rgb(241, 241, 241) 70%);
    
    color: #666;
    cursor: pointer;
    display: inline-block;
    font-family: arial, sans-serif;
    font-size: 12px;

    font-weight: bold;

    padding: 7px 12px;

    position: relative;
    text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    text-decoration: none;
}
.gp-button:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #333;
    border-color: #939393;
}
.gp-button:active {
    background: -webkit-gradient(linear,0% 40%,0% 70%,from(#F1F1F1),to(whiteSmoke));
    background: -moz-linear-gradient(center top , #F3F3F3, #F5F5F5) repeat scroll 0 0 transparent;
    border-color: #444444;
}

#item-1 {
    background: url(/images/data/man/Aion_icon_1.jpg) left top no-repeat;
}