.header {
    margin-top: 20px;
    margin-left: 40px;
}
.header img {
    float: left;
    margin-right: 20px;
}
.header h3 {
    color: #969594;
}

.item {
    width: 40px;
    float: left;
    height: 40px;
    border: 1px solid #222222;
    border-radius: 5px;
    cursor: pointer;
}
.item.selectedItem {
    box-shadow: 0 0 5px 1px #0099ff;
}


.item-line-1-block {
    float: left;
    width: 82px;
}

.item-line-1-block.c {
    margin-left: 20px;
    margin-right: 20px;
    width: 50px;
}

.item-line-1-block>a {
    display: block;
    clear: left;
    float: left;
    width: 25px;
    height: 25px;
    text-align: center;
}

.item-line-1-block .child {
    margin-top: -15px;
}

.item-line-1-block.r>a{
    clear: none;
}
.item-line-1-block.r .parend {
    margin-left: 25px;
}

.post {
    line-height: 40px;
    height: 40px;
    cursor: pointer;
    color: #fff;
    background: #222222;
    border-bottom: 1px solid #205791;
}
.post img {
    float: left;
    margin-right: 10px;
}
.post.q1 {color: #adadad}
.post.q2 {color: #f1f1f1}
.post.q3 {color: #69e15e}
.post.q4 {color: #4ccfff}
.post.q5 {color: #ffc103}
.post.q6 {color: #ff8033}

#posts  { height:450px; overflow-y: auto; }