.header {
    margin-top: 20px;
    margin-left: 40px;
}
.header img {
    float: left;
    margin-right: 20px;
}
.header h3 {
    color: #969594;
}

.content-items {
    border-left: 15px solid #edeef0;
    padding-left:  15px;
}