div.items {
    height: 50px;
    line-height: 40px;
    clear: right;
    width: 100%;
}
div.items>img {
    float: left;
    margin-right: 5px;
}
div.items>span {
    color: red;
}
div.items>input[type=text] {
    height: 20px;
    width: 30px;
    float: right;
    margin-right: 30px;
    text-align: right;
}
#now-ap {
    height:20px;
    width: 100px;
    text-align:right;
    margin-left:20px;
}
#end {
    font-size: 2em;
}
.end {
    display: block;
    height: 2.6em;
    line-height: 2.6em;
    float: left;
    margin-right: 1em;
}